<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <form>
      <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search for events, shows, courses...', class: 'form-control' %>
      <% end %>
    </form>
  </div>
</div>